$dark-bg-color: #030718;
$navy-blue-bg-color: #201a4f;
$grey-bg-color: #434f70;
$grey-blue-bg-color: #6073a1;
$dark-purple-bg-color: #4a3bb3;
$purple-bg-color: #6a54ff;
$grey-op-bg-color: #eaeff033;
$white-op-bg-color: #ffffff33;
$white-bg-color: #ffffff;
$aqua-bg-color: #57e1ff;
$green-bg-color: #35ff9e;

$aqua-op-border-color: #57e1ff33;
$aqua-border-color: #57e1ff;

$black-text-color: #000000;
$dark-text-color: #030718;
$grey-text-color: #a5aebc;
$silver-text-color: #e7f7f8;
$white-text-color: #ffffff;
$purple-text-color: #6a54ff;
$aqua-text-color: #57e1ff;
$green-text-color: #35ff9e;
